{
  "extends": [
    "airbnb"
  ],
  "globals": {
    "document": true,
    "window": true
  },
  "rules": {
    "max-len": ["off"],
    "jsx-a11y/no-static-element-interactions": ["off"],
    "react/react-in-jsx-scope": ["off"],
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "no-unused-vars": ["error", { "varsIgnorePattern": "h" }]
  }
}
