.header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 56px;
  position: absolute;
  width: 100%;
  z-index: 999;

  .links {
    max-width: 1000px;
    text-align: right;
    width: 90%;

    .link {
      font-weight: bold;
      text-decoration: none;
      margin-left: 48px;
    }
  }

  ul {
    max-width: 80%;

    li {
      display: inline-block;
    }
  }

  .fixed {
    background-color: $primary-color;
    color: #fff;
  }
}
